body{
    background-color: #252d38;
    background-image: linear-gradient(45deg, #303843 25%, transparent 25%, transparent 75%, #303843 75%, #303843), linear-gradient(45deg, #303843 25%, transparent 25%, transparent 75%, #303843 75%, #303843);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    color: #ddd;
    font-family: "M PLUS Rounded 1c";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    -webkit-transform: rotate(0.028deg);
    -moz-transform: rotate(0.028deg);
    -ms-transform: rotate(0.028deg);
    -o-transform: rotate(0.028deg);
    transform: rotate(0.028deg);
    user-select: none;
}

h1 {
    text-align: center;
    margin: auto;
}