<html>
    <head>
        <meta http-equiv="content-type" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css')}}">  
    </head>
    <body>
        <h1>Time</h1>
        
        <div class="">

        </div>
        <div class="editor">

        </div>
        <div class="menu">
            <div class="">
                このアプリは何？
            </div>
            <div class="">
                サンプル
                <div class="">
                    時計
                </div>
                <div class="">
                    ストップウォッチ
                </div>
                <div class="">
                    タイマー
                </div>
            </div>
        </div>
    </body>
</html>